@model IEnumerable<Leikjavefur.ViewModels.GameInstanceViewModel>

<h3>Taka þátt í leik</h3>

@foreach (var item in Model)
{
    @Html.ActionLink(item.GameName, "Join", "GameInstance", new { @gameInstanceID = item.GameInstanceID }, null)
    <br/>
}

