@model IEnumerable<Leikjavefur.ViewModels.GameInstanceViewModel>

<p>Leikir í gangi</p>

<div id="GameInstanceNavContainer">
    @foreach (var item in Model)
    {
        if (!item.GameInstance.IsActive)
        {
            if (item.Players.Count() < item.Game.MaxPlayers)
            { 
                <ul>
                    <li>
                        <span>
                            @Html.ActionLink((item.Game.Name + " (Vantar " + (item.Game.MaxPlayers - item.Players.Count()) + " spilara)"), "Join", "GameInstance", item.GameInstance, null)
                        </span>
                        <ul>
                            @foreach (var player in item.Players)
                            {
                                <li><span><a>@player.UserName</a></span></li>
                            }
                         
                        </ul>  
                    </li>
                </ul>
            }
        }
    }

</div>

