@model IEnumerable<Leikjavefur.ViewModels.GameInstanceViewModel>

<p>Leikir í gangi</p>

<div id="GameInstanceNavContainer">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <span>
                    @if(item.GameInstance.IsActive)
                    {
                        <a>@item.Game.Name (Leikur í gangi)</a>
                    }
                    else
                    {
                        if(item.Players.Count() < item.Game.MaxPlayers)
                        {
                            @Html.ActionLink((item.Game.Name + " (Vantar " + (item.Game.MaxPlayers - item.Players.Count()) + " spilara)"), "Join", "GameInstance", item.GameInstance, null)
                        }
                        else
                        {
                            <a>@item.Game.Name (Leikur fullur)</a>
                        }
                    }
                </span>
                <ul>
                    
                    @foreach(var player in item.Players)
                    {
                        <li><span><a>@player.UserName</a></span></li>
                    }
                         
                </ul>   
                   
            </li>
    
        }

    </ul>

</div>

