@model IEnumerable<Leikjavefur.ViewModels.GameInstanceViewModel>

<p>Leikir í gangi</p>

<h3>Taka þátt í leik</h3>

@foreach (var item in Model)
{
    if(item.GameInstance.IsActive)
    {
        <p>@item.Game.Name (Leikur í gangi)</p>
    }
    else
    {
        if(item.Players.Count() < item.Game.MaxPlayers)
        {
            <p>@Html.ActionLink(item.Game.Name + " (Vantar " + (item.Game.MaxPlayers - item.Players.Count()) + " spilara)", "Join", "GameInstance", new { @gameInstanceID = item.GameInstance.GameInstanceID }, null)</p>
        }
        else
        {
            <p>@item.Game.Name (Leikur fullur)</p>
        }
    }

    <br/>
}

