@using Leikjavefur.Models
@model IEnumerable<Leikjavefur.ViewModels.GameInstanceViewModel>

<p>Leikir í gangi</p>

@foreach (var item in Model)
{
    if(item.GameInstance.IsActive)
    {
        <p>@item.Game.Name (Leikur í gangi)</p>
    }
    else
    {
        if(item.Players.Count() < item.Game.MaxPlayers)
        {
            <p>@Html.ActionLink((item.Game.Name + " (Vantar " + (item.Game.MaxPlayers - item.Players.Count()) + " spilara)"), "Join", "GameInstance", item.GameInstance, null)</p>
        }
        else
        {
            <p>@item.Game.Name (Leikur fullur)</p>
        }
    }

    <br/>
}

