@model Leikjavefur.Models.GameInstance


<h2>SnakesAndLadders</h2>


<table border="1">
    <tr style ="width:100px; height:100px">
        <td>25</td>
        <td>24</td>
        <td>23</td>
        <td>22</td>  
        <td>21</td>
    </tr>
    <tr style ="width:100px; height:100px">
        <td>20</td>
        <td>19</td>
        <td>18</td>
        <td>17</td>
        <td>16</td>
    </tr>
    <tr style ="width:100px; height:100px">
        <td>15</td>
        <td>14</td>
        <td>13</td>
        <td>12</td>
        <td>11</td>
    </tr>
    <tr style ="width:100px; height:100px">
        <td>10</td>
        <td>9</td>
        <td>8</td>
        <td>7</td>
        <td>6</td>
    </tr>
    <tr style ="width:100px; height:100px">
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
    </tr>

</table>