<h2>Snakes And Ladders</h2>


<table border ="1">
    <tr style="height:100px; width:100px">
        <td style="width:100px">1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr style="height:100px; width:100px">
        <td style="width:100px">1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr style="height:100px; width:100px">
        <td style="width:100px">1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr style="height:100px; width:100px">
        <td style="width:100px">1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr style="height:100px; width:100px">
        <td style="width:100px">1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
</table>