﻿@model Leikjavefur.ViewModels.GameViewModel

<table border="2" id="tictactoe">
    <tr style ="width:100px; height:100px">
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 3</td>  
    </tr>
    <tr style ="width:100px; height:100px">
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
        <td>row 2, cell 3</td>
    </tr>
    <tr style ="width:100px; height:100px">
        <td>row 3, cell 1</td>
        <td>row 3, cell 2</td>
        <td>row 3, cell 3</td>
    </tr>
</table>
