﻿@model Leikjavefur.ViewModels.GameInstanceViewModel

<table id="tictactoe">
	<tbody>
		<tr>
			<td id="1">&nbsp;</td>
			<td id="2">&nbsp;</td>
			<td id="3">&nbsp;</td>
		</tr>
		<tr>
			<td id="4">&nbsp;</td>
			<td id="5">&nbsp;</td>
			<td id="6">&nbsp;</td>
		</tr>
		<tr>
			<td id="7">&nbsp;</td>
			<td id="8">&nbsp;</td>
			<td id="9">&nbsp;</td>
		</tr>
	</tbody>
</table>

<script>
    var myGameGroup = '(@Model.GameInstanceID)';
    var player1 = '@Model.Players.ToArray()[0].UserID';
    var mMark = '';
    var hMark = '';
    var startTurn = false;

    @{
        int value;
        value = WebSecurity.CurrentUserId;
        string user = Convert.ToString(value); 
    }
    var currentUserId = '@user';
      
    if (currentUserId == player1) {
        mMark = 'X';
        hMark = 'O';
        startTurn = true;
    }
    else {
        mMark = 'O';
        hMark = 'X';
    }

    function getHisMark(){
        return hMark;
    }

    function getMyMark() {
        return mMark;
    }
    
    function getGameGroup() {
        return myGameGroup;
    }

    function getMyTurn() {
        return startTurn;
    }
</script>
