﻿@model Leikjavefur.Models.GameInstance

<h2>TicTacToe</h2>

<h3>Leikjatilfelli númer: @Model.GameInstanceID</h3>
<h3>Leikur stofnaður af leikmanni númer: @Model.UserID</h3>
<h3>Leikur númer: @Model.GameID</h3>

<table border="1">
<tr style ="width:100px; height:100px">
    <td>row 1, cell 1</td>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 3</td>  
    </tr>
    <tr style ="width:100px; height:100px">
        <td>row 2, cell 1</td>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
    </tr>
    <tr style ="width:100px; height:100px">
        <td>row 3, cell 1</td>
        <td>row 3, cell 2</td>
        <td>row 3, cell 3</td>
    </tr>
</table>
