@{
    ViewBag.Title = "Index";
}

<div>
    <h1>Nú loksins á Íslandi - Borðspilavefur fyrir alla fjölskylduna.</h1>
    
    @*<h3>Hvað er betra eftir erfiðan vinnudag að setja niður og spila nokkra vel valin borðspil við fjölskylduna, vinnufélagana, nú eða bara einhverja bláókunnuga. Hver veit hvert það getur leitt</h3>*@

    <img src="~/Images/mainpage.jpg" id="mainpic" style="margin-left:90px"/>
</div>

    