@if (Request.IsAuthenticated) 
{
    
    <div id="profilestats">
        <p>Name: @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "UserProfilename", title = "Manage" })</p>
        <p>Stigafjöldi:</p>
        <p>Fjöldi Spilaðra leikja:</p>
        <p>Medalía:</p>
    </div>

    
    
    <div id="logoff">
    
        
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Útskrá</a>
        }
    
    </div>
} 
else 
{
    <ul>
        @*@RenderPage("~/Views/Account/Login.cshtml")*@
        @Html.ActionLink("Nýskráning", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

