@if (Request.IsAuthenticated) 
{
    
    
    <div id="profilestatus">

    </div>
    
    
    <div id="letteright">
    
        Velkomin, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "UserProfilename", title = "Manage" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    
    </div>
} 
else 
{
    <ul>
        @*@RenderPage("~/Views/Account/Login.cshtml")*@
        @Html.ActionLink("Nýskráning", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

