@model Leikjavefur.Models.UserProfile

@{
    Layout = null;
}

<div id="avatar">
        <object data="~/Images/@Model.Avatar">
            <img src="~/Images/avatar3.png"  />
        </object>
    <div id="changeAvatarButton">
        @Html.ActionLink("Breyta Mynd","Index", "Home")
    </div>
</div>

<div id="profilestats">
        <p>Name: @Html.ActionLink(User.Identity.Name, "Details", "Users", new { @id=WebSecurity.CurrentUserId }, null)</p>
        <p>Stigafjöldi:</p>
        <p>Fjöldi Spilaðra leikja:</p>
        <p>Medalía:</p>
</div>

<div id="logoff">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Útskrá</a>}
        
        @Html.ActionLink("Breyta Lykilorði", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "UserProfilename", title = "Manage" })
</div>