@model List<Leikjavefur.Models.UserProfile>

@{
    Layout = null;
}

<span id="vinirtext">Vinir</span>

<ul class="popup">
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.UserName, "Details", new { id=item.UserID })
            <div class="popup-center">
                <object width="853" height="480">
                    <param name="movie" value="http://www.youtube.com/v/msIjWthwWwI?version=3&amp;hl=en_US" />
                    <param name="allowFullScreen" value="true" />
                    <param name="allowscriptaccess" value="always" />
                    <embed src="http://www.youtube.com/v/msIjWthwWwI?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="853" height="480" allowscriptaccess="always" allowfullscreen="true" />
                </object>
            </div>
        </li>
    }
</ul>
