@model IQueryable<Leikjavefur.Models.UserProfile>

@{
    Layout = null;
}

@if (User.IsInRole("Administrator"))
{
    <p>@Html.ActionLink("Notendur", "Index", "Users")</p>
}
else
{
    <p>Notendur</p>
}

    @foreach (var item in Model) 
    {
        <img src="@item.Avatar" style="float:left"/>
        
    }