
body
{
position:fixed;
float:left;
width:100%;
height:100%;
background-color: #827B60;
margin:0px;
font-size: 90%;
}

#leftChat
{
position:relative;
background-color:#827B60;
border: solid black 1px;
height: 100%;
width:20%;
float:left;
}

#vinir
{
position:relative;
border: solid black 1px;
width:100%;
height:50%;
}

#vinirtext
{
	margin-left:auto;
	margin-right:auto;	
}

#leikirchat
{
position:relative;
border: solid black 1px;
width:100%;
height:50%;
}

#profile
{
position:relative;
border: solid black 1px;
float:left;
width:100%;
height:155px;
}

#profilestats 
{
    position:relative;
    float:left;
    width:30%;
    height:100%;
}

#logoff 
{   
    float:right;
    width:10%;
    height:100%;
    margin-top:10px;
}

#avatar
{
    position:relative;
	float:left;
	width:155px;
    height:155px;
}

#middle
{
border: solid black 1px;
position:relative;
width:60%;
height:100%;
float:left;
}

#render 
{
    float:left;
}

#mainPage 
{
position:relative;
float:left;
border: solid black 2px;
overflow-y: scroll;
height: 80%;
width:100%;
background-color: gray;
}

#rightChat
{
position:relative;
background-color: #827B60;
border: solid black 1px;
height: 100%;
width:19.5%;
float:right;
}

#spjallgluggi
{
	border: solid black 1px;
	background-color: #387C44;
	padding-left: 1px;
	border: solid black 2px;
	float:right;
	width:198px;
	height:26px;
	
}

#notendur
{
position:relative;
border: solid black 1px;
width:100%;
height:50%;
}

#spjall
{
position:relative;
border: solid black 1px;
width:100%;
height:50%;
}

p
{
	color:black;
	font-family: "Arial Black", Gadget, sans-serif;
	
    position:relative;
    overflow:hidden;
    text-align:left;
    
}

p 
{
    color:white;
}

a {
    
    color:#151B54;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
    text-decoration:none;
}

ul 
{
    list-style-type:none;
    float:left;
}

#ChatArea {
    position:relative;
    overflow:auto;
    height: 85%;
    width: 100%;
    resize: none;
}

#TextBoxMessage {
    position:relative;
    float:left;
    width: 100%;
    resize: none;
}
