
body
{
    position:fixed;
    float:left;
    width:100%;
    height:100%;
    background-color: #827B60;
    margin:0px;
    font-size: 90%;
}

#vinir
{
    position:relative;
    border: solid black 1px;
    width:100%;
    height:50%;
}

#vinirtext
{
	margin-left:auto;
	margin-right:auto;	
}

#leikirchat
{
    position:relative;
    width:100%;
    height:20%;
    overflow-y: auto;
}

#ongoingGames 
{
    border-top:2px solid black;
    width:100%;
    height:80%;
    overflow-y: auto;
}

#profile
{
    position:relative;
    border: solid black 1px;
    border-right:none;
    float:left;
    width:100%;
    height:155px;
}

#profilestats 
{
    position:relative;
    float:left;
    width:30%;
    height:100%;
    margin-left:10px;
}

#logoff 
{   
    float:right;
    padding-right:10px;
    height:100%;
    margin-top:10px;
}

#avatar
{
    position:relative;
	float:left;
	width:155px;
    height:155px;
}

#middle
{
    border: solid black 1px;
    position:relative;
    width:60%;
    height:100%;
    float:left;
}

#render 
{
    float:left;
}

#leftChat
{
    position:relative;
    background-color:#827B60;
    border: solid black 1px;
    height: 100%;
    width:19%;
    float:left;
    text-align: center;
}

#mainPage 
{
    position:relative;
    background-color: gray;
    border: solid black 1px;
    border-right:none;
    border-left:none;
    overflow-y: auto;
    height:80%;
    width:100%;
    text-align:center;
    border-right:none;
    overflow-y: scroll;
}

#rightChat
{
    position:relative;
    background-color: #827B60;
    border: solid black 1px;
    height: 100%;
    width:20%;
    float:left;
    text-align:center;
}

#spjallgluggi
{
	border: solid black 1px;
	background-color: #387C44;
	padding-left: 1px;
	border: solid black 1px;
	float:right;
	width:198px;
	height:26px;
	
}

#notendur
{
    position:relative;
    border: solid black 1px;
    width:100%;
    height:50%;
    
}

#spjall
{
    position:relative;
    border: solid black 1px;
    width:100%;
    height:50%;
}

p {
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    position: relative;
    overflow: hidden;
}



a {
    
    color:#151B54;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
    text-decoration:none;
}

ul 
{
    list-style-type:none;
    margin-left: auto;
    margin-right: 45px;
}

#ChatArea {
    position:relative;
    overflow:auto;
    height: 89%;
    width: 100%;
    resize: none;
}

#TextBoxMessage {
    position:relative;
    float:left;
    width: 100%;
    height:5%;
    resize: none;
}

.RegisterAndManageFieldset
{
    border: solid white;
    display:inline;
    text-align: right;
    /*margin-right:15%;*/
}

.RegisterAndManageList
{
    list-style-type: none;
}

.title
{
    text-align:center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.message-success
{
    margin-left: auto;
    margin-right: auto;
}

.RegisterAndManageButton
{
    width: 157px;
    height: 30px;
}
#loginForm 
{
    /*border: solid white;*/
    float: left;
    text-align:right;
    display:inline;
    margin-left: 33%;
}
#loginButton 
{
    width: 100px;
    height: 30px;
}
.popup
{ 
    
    text-align:center;
    list-style:none; 
    cursor:pointer;
    
}

.popup li:hover div
{
    visibility:visible;
    opacity:1;
    transition-delay:0s;

}

.popup li .popup-center
{ 
    position:fixed; 
    z-index:10; 
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 1s,opacity 1s linear;
    width:853px; 
    height:480px; 
    left:50%;
    top:50%;
    margin-left:-426px;
    margin-top:-240px;
}

.popup li .popup-left-upper
{ 
    position:fixed; 
    z-index:10; 
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 1s,opacity 1s linear;
    width:250px; 
    height:150px; 
    left:25%;
    top:25%;
    /*margin-left:-125px;*/
    margin-top:-75px;
}

.popup li .popup-right-upper
{ 
    position:fixed; 
    z-index:10; 
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 1s,opacity 1s linear;
    width:250px; 
    height:150px; 
    left:75%;
    top:25%;
    margin-left:-125px;
    margin-top:-75px;
}

#dialog-form
{
    width: 350px;
    height: 150px;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -75px;
    background: rgb(172, 171, 185); /* fallback color */
    background: rgba(172, 171, 185, 0.95);
    border-color: rgb(24, 17, 12);
    border-color: rgba(24, 17, 12, 0.95);
}

#tabs {
    width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border: solid black 1px;
    /*margin-top: 10px;*/
    background: #827B60;
}

ul.tabs {
    margin:0px; padding:0px;
}
ul.tabs li {
    list-style:none;
    display:inline;
}

ul.tabs li a {
    background-color:#827B60;
    color:#827B60;
}
ul.tabs li a:hover {
    background-position: -420px -31px;
    color:#827B60;
    background-color:#2f343a;
    border-color:#2f343a;
}

.ui-tabs .ui-tabs-nav
{
    background: grey; /* Liturinn fyrir ofan tabbana */
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected 
{
    border-bottom-width: 0;
    background: #827B60;
    border-top: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #FFF;
}

#tictactoe 
{
    margin-left:auto;
    margin-right:auto;
}

#tictactoe tbody tr td {

	background-color: #c7d1d6;
	padding: 50px;
	border: 1px solid black;
}

.display-label 
{
    text-align:left;
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    position: relative;
    overflow: hidden;
    padding-left: 20px;
}

.display-label p 
{
    color: black;
}

#details 
{
    width:70%;
    height:70%;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    border:solid black 3px;
    padding-left:1px;
    padding-top:1px;
    
}

.bio 
{
    color: black;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-left:auto;
    margin-right:auto;
}

h2 
{
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
}

#snakestable
{
    margin-left:auto;
    margin-right:auto;
}

#snakestable tbody tr td {
	padding: 33px 39px;
	border: 1px solid white;
}

#gameinfo 
{
    float:left;
    border:solid black 3px;
    margin-left:5px;
    margin-right:5px;
    padding:10px;
}


#gameinfo p
{
    color:black;
    text-align:left;
}

#gameindex 
{
    border:solid black 5px;
    padding:5px;
    margin:5px;
    height:250px;     
}

#gameindexphoto 
{
    position:relative;    
    float:left;
    height:90%;
    padding:10px;

}

#gameindexinfo
{
    
    text-align:left;
    color:black;
    font-size:12px;
    position:relative; 
    padding:10px;
    height:40%;
    width:70%;
    float:left;
    
}

#gameindexabout
{
    position:relative; 
    float:left;
    width:70%; 
    height:40%;
    padding:10px;
   
}

#about
{   
    
   float:left;
   width:50%;
   
}

#rules
{   
   float:right; 
    
   width:50%;
   
}
    

#gameindexedit 
{
    
    position:relative; 
    width:100%;
    float:left;
    padding-bottom:20px;
}
    