@model IQueryable<Leikjavefur.Models.Game>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="Games">
        <div class="GamesLeft">
            <img src="~/Images/@item.Avatar"/>
            <br />
            @Html.ActionLink("Spila", "Create", "GameInstance", new { @gameID = item.GameID, @gameName = item.Name}, null)
            <br />
            <img src="~/Images/chess_thumbnail.jpg"/>
        </div>
        <div class="GamesRight">
            <h4>@item.Name</h4>
            <text>@item.About</text>
        </div>
    </div>  
}
